<launch>
  
 <include file="$(find my_imu_package)/launch/my_imu_with_rviz.launch" ></include>
 <include file="$(find realsense2_camera)/launch/rs_camera.launch" ></include>
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_to_base_link" args="0 0 0 0 0 0  base_link camera_link" />
  <include file="$(find rplidar_ros)/launch/rplidar_a1.launch" ></include>
  <node pkg="tf2_ros" type="static_transform_publisher" name="imu_to_base_link" args="0 0 0 0 0 0 base_link imu_link" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_base_link" args="0 0 0 0 0 0 base_link camera__color_optical_frame" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="depth_camera_to_base_link" args="0 0 0 0 0 0  base_link camera__depth_optical_frame" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="laser_to_base_link" args="0 0 0 1.57 0 0 base_link laser" />

  <!-- <node pkg="rtabmap_odom" type="rgbd_odometry" name="rgbd_odometry" output="screen">
    <param name="frame_id" value="base_link" />
    <param name="approx_sync" value="true" />
    
    <remap from="/rgb/image" to="/camera/color/image_raw" />
    <remap from="/depth/image" to="/camera/depth/image_rect_raw" />
    <remap from="/rgb/camera_info" to="/camera/color/camera_info" />
  </node>
  
    <node pkg="rtabmap_odom" type="icp_odometry" name="icp_odometry" output="screen">
    <param name="frame_id" value="base_link" />
    <param name="approx_sync" value="true" />
    
    <remap from="/odom" to="/odometry_icp" />
  </node>
   
    
   
   <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node" output="screen">
    <param name="use_sim_time" value="false"/>
    <rosparam command="load" file="$(find lam_pkg)/config/ekf.yaml" />
  </node> -->

  <!-- <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node" output="screen">
  <param name="use_mag" value="false" />
  <param name="fixed_frame" value="base_link" />
  </node> -->
<!-- <node pkg="rtabmap_odom" type="rgbd_odometry" name="rgbd_odometry" output="screen">
    <param name="frame_id" value="base_link" />
    <param name="approx_sync" value="true" />
    
    <remap from="/rgb/image" to="/camera/color/image_raw" />
    <remap from="/depth/image" to="/camera/depth/image_rect_raw" />
    <remap from="/rgb/camera_info" to="/camera/color/camera_info" />
  </node> -->
  
    <node pkg="rtabmap_odom" type="icp_odometry" name="icp_odometry" output="screen">
    <param name="frame_id" value="base_link" />
    <param name="approx_sync" value="true" />
    
    <!-- <remap from="/odom" to="/odometry_icp" /> -->
  </node>
   
    
   
   <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node" output="screen">
    <param name="use_sim_time" value="false"/>
    <rosparam command="load" file="$(find lam_pkg)/config/ekf.yaml" />
  </node>
  <include file="$(find rtabmap_launch)/launch/rtabmap.launch">
    <arg name="rtabmap_args"
         value="--delete_db_on_start"/>
    <!-- topics -->
    <arg name="depth_topic"            value="/camera/depth/image_rect_raw"/>
    <arg name="rgb_topic"              value="/camera/color/image_raw"/>
    <arg name="camera_info_topic"      value="/camera/color/camera_info"/>
    <arg name="approx_sync"            value="true"/>
    <arg name="subscribe_scan"         value="false"/>
    <arg name="scan_topic"             value="/scan"/>
    <arg name="odom_topic" value="/odometry/filtered" />
    <arg name="odom_frame_id" value="odom" />
    <arg name="visual_odometry"        value="false"/>
    <arg name="icp_odometry" value="false" />
    <arg name="frame_id" value="base_link" />
  </include>

</launch>